* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body {
    background-color:rgb(215, 2, 2);
}

.navbar {
    display: flex;
    justify-content: right;
    background-color: #343434;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}